html {
  margin: 0px 0px;
  padding: 0px, 0px;
}

body {
  width: auto;
  height: auto;
  margin: 0;
}
.flexContent {
  display: flex;
}

.main-login {
  width: auto;
  height: auto;
}

.login-left {
  width: 60%;
  /* background-image: url("Assets/img/background.png"); */
  background-image: linear-gradient(
    #fb6564,
    #a03cea,
    #ff52a2,
    #8cc0de,
    #f5f5f5
  );
  background-size: 100%;
}
.login-left div {
  width: 70%;
  height: 613px;
  margin-top: 15%;
  margin-left: 15%;
  background: #ffffff66;
}

.login-left .title1 {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;

  width: 278px;
  height: 150px;
  padding-top: 138px;
  padding-left: 88px;
}

.login-left .title2 {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #3e334e;
  padding-left: 88px;
  margin-top: 0;
}

.login-left .subtitle {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #3e334e;

  padding-left: 88px;
  width: 347px;
  height: 54px;
}

/* bagian kanan */
.login-right {
  width: 40%;
}

.learninggo {
  width: Hug (219px);
  height: Hug (48px);
  margin-top: 72px;
  margin-left: 187px;
  gap: 16px;
}

.learninggo img {
  width: 48px;
  height: 48px;
  margin-top: 30px;
}

.learninggo p {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;

  color: #3e334e;
  width: 155px;
}

/* baris kedua */
.line2 {
  width: Hug (400px);
  height: Hug (83px);
  margin-left: 187px;
}

.line2 .hello {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #3e334e;
}

.line2 .sub-hello {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #3e334e;
}
/* bagian form */

.form {
  width: 60%;
  height: Hug (492px);
  margin-left: 154px;
  padding: 32px 32px 48px 32px;
  border-radius: 16px;
  gap: 48px;
}

.login {
  width: 100%;
  height: Hug (296px);
  border-radius: 16px;
  gap: 24px;
}

/* inputan email */
.email p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #3e334e;
}

.email input {
  /* width: Fill (416px); */
  height: Hug (56px);
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #afa2c3;
  gap: 8px;
  color: #3e334e;
  width: 95%;
}
/* inputan password */
.password p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

  color: #3e334e;
}

.password input {
  width: 95%;
  height: Hug (56px);
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #afa2c3;
  gap: 8px;
  color: #afa2c3;
}

.option-login {
  gap: 25%;
  /* justify-content: center; */
}

.option-login input {
  width: 16px;
}

/* button */
.div-button {
  width: 100%;
  height: Hug (48px);
  column-gap: 30%;
}
.button-login {
  width: 40%;
  height: 48px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;

  background-image: linear-gradient(#fb6564, #a03cea);
}
.button-signup {
  width: 40%;
  height: 48px;
  padding: 16px;
  border-radius: 8px;
  border: 1px;
  border-color: #3e334e;
}
.login-google {
  margin-top: 30px;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
.login-google button {
  width: 32%;
  height: 40px;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  border: 1px;
  padding-right: 60px;
}
.login-with p {
  text-align: center;
}
