/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: auto;
  }

  .login-left div {
    padding-left: 5%;
  }

  .login-left .title1 {
    padding-left: 38px;
    width: 250px;
  }

  .login-left .title2 {
    padding-left: 38px;
    width: 250px;
  }

  .login-left .subtitle {
    padding-left: 38px;
    width: 250px;
  }

  .login-right {
    /* background-image: url("Assets/img/background.png"); */
    background-image: linear-gradient(
      #f5f5f5,
      #fb6564,
      #a03cea,
      #ff52a2,
      #8cc0de
    );
    width: auto;
  }
  .learninggo {
    margin-left: 24px;
  }
  .line2 {
    margin-left: 24px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .option-login {
    gap: 15%;
  }

  .login-google {
    display: flex;
    justify-content: center;
  }

  .login-google button {
    width: 25%;
    height: 40px;
    padding: 12px 16px 12px 16px;
  }
}
