@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .main-login {
    width: 100%;
    height: auto;
  }
  .login-left {
    display: none;
  }
  .login-right {
    /* background-image: url("Assets/img/background.png"); */
    background-image: linear-gradient(
      #f5f5f5,
      #9BE8D8,
      /* #fb6564, */
      #a03cea,
      #ff52a2,
      #8cc0de
    );
    width: 100%;
  }
  .learninggo {
    margin-left: 10%;
  }
  .line2 {
    margin-left: 10%;
  }
  .form {
    margin-left: 5%;
  }
  .option-login {
    gap: 20%;
  }

  .login-google {
    display: flex;
    justify-content: center;
  }

  .login-google button {
    width: 35%;
    height: 40px;
    padding: 12px 16px 12px 16px;
  }
}

  /* .learninggo {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .line2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form {
    display: flex;
    justify-content: center;
  }