@media only screen and (max-width: 768px) {
  .flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
  }
  body {
    background-color: #d6e4ef;
  }
  .main {
    background-color: #ffffff;
    width: 400px;
  }
  .logo-space {
    width: 250px;
    height: 65px;
    margin-top: 10px;
    gap: 16px;
  }

  .logo-space img {
    width: 64px;
    height: 64px;
  }
  .logo-space div {
    width: 167px;
    font-family: "Inter";
    font-size: 32px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f3d4c;
  }
  .header {
    height: 270px;
    padding: 15px;
    border-radius: 8px;
  }

  .background-header {
    background-image: url("img/Rectangle\ 2.png");
    background-size: 100% 100%;
    width: 400px;
    height: 215px;
    border-radius: 8px;
  }

  .profil-name {
    margin-top: -10%;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    height: 105px;
  }

  .header img {
    width: 104px;
    height: 104px;
    margin-left: 24px;
    border: 4px;
  }

  .header .welcome {
    color: #2f3d4c;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 55px;
    margin-left: 10px;
  }

  .welcome span {
    color: #d90327;
  }

  /* section login */
  .login {
    padding: 15px;
    gap: 24px;
    width: 400px;
  }

  .email {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f3d4c;

    width: Fill (400px);
    height: Hug (80px);
    padding: 16px;
    border-radius: 8px;
    border: 1px;
    gap: 8px;
  }

  .email input {
    width: 95%;
    padding: 16px;
    border-radius: 8px;
    border: 1px;
    background-color: #c6d1dc;
  }
  .remember {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    font-family: "Inter";
  }

  .login-button {
    width: Fill (400px);
    height: Hug (48px);
    padding: 16px;
    border-radius: 8px;
  }

  .login-button button {
    width: 100%;
    background-color: #d90327;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }

  .footer {
    text-align: center;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 50px;
  }

  .new-user {
    width: 180px;
    height: Hug (48px);
    padding: 16px;
    border-radius: 8px;
    background-color: #2f3d4c;
  }

  .signup {
    width: 180px;
    height: Hug (48px);
    padding: 16px;
    border-radius: 8px;
    color: #d90327;
  }
  .not-robert {
    gap: 8px;
    padding-top: 20px;
  }
}

/* ========================================================================================================================== */

@media only screen and (max-width: 390px) {
  .flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
  }
  body {
    background-color: #d6e4ef;
    margin: 0;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
  }
  .logo-space {
    width: 250px;
    height: 60px;
    margin-top: 10px;
    gap: 16px;
  }

  .logo-space img {
    width: 64px;
    height: 64px;
  }
  .logo-space div {
    width: 167px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f3d4c;
  }
  .header {
    height: 230px;
    padding: 15px;
    border-radius: 8px;
  }

  .background-header {
    background-image: url("img/Rectangle\ 2.png");
    background-size: 100% 100%;
    width: 370px;
    height: 180px;
    border-radius: 8px;
  }

  .profil-name {
    margin-top: -10%;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    height: 105px;
  }

  .header img {
    width: 104px;
    height: 104px;
    margin-left: 15px;
    border: 4px;
  }

  .header .welcome {
    color: #2f3d4c;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 55px;
    margin-left: 8px;
  }

  .welcome span {
    color: #d90327;
  }

  /* section login */
  .login {
    padding: 15px;
    gap: 24px;
    width: 360px;
  }

  .email {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f3d4c;

    width: Fill (360px);
    height: Hug (80px);
    padding: 16px;
    border-radius: 8px;
    border: 1px;
    gap: 8px;
  }

  .email input {
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    border: 1px;
    background-color: #c6d1dc;
  }
  .remember {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .login-button {
    width: Fill (360px);
    height: Hug (48px);
    padding: 16px;
    border-radius: 8px;
  }

  .login-button button {
    width: 100%;
    background-color: #d90327;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }

  .footer {
    text-align: center;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 50px;
  }

  .new-user {
    width: 160px;
    height: Hug (48px);
    padding: 16px;
    border-radius: 8px;
    background-color: #2f3d4c;
  }

  .signup {
    width: 160px;
    height: Hug (48px);
    padding: 16px;
    border-radius: 8px;
    color: #d90327;
  }
  .not-robert {
    gap: 8px;
    padding-top: 10px;
  }
}
