.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #d6e4ef;
}
.main {
  background-color: #ffffff;
}
.logo-space {
  width: 250px;
  height: 65px;
  margin-top: 40px;
  gap: 16px;
}

.logo-space img {
  width: 64px;
  height: 64px;
}
.logo-space div {
  width: 167px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #2f3d4c;
}
.header {
  height: 270px;
  padding: 15px;
  border-radius: 8px;
}

.background-header {
  background-image: url("img/Rectangle\ 2.png");
  background-size: 100% 100%;
  width: 454px;
  height: 215px;
  border-radius: 8px;
}

.profil-name {
  margin-top: -10%;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  height: 105px;
}

.header img {
  width: 104px;
  height: 104px;
  margin-left: 24px;
  border: 4px;
}

.header .welcome {
  color: #2f3d4c;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 55px;
  margin-left: 10px;
}

.welcome span {
  color: #d90327;
}

/* section login */
.login {
  padding: 15px;
  gap: 24px;
  width: 454px;
}

.email {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #2f3d4c;

  width: Fill (422px);
  height: Hug (80px);
  padding: 16px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
}

.email input {
  width: 95%;
  padding: 16px;
  border-radius: 8px;
  border: 1px;
  background-color: #c6d1dc;
}
.remember {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.login-button {
  width: Fill (422px);
  height: Hug (48px);
  padding: 16px;
  border-radius: 8px;
}

.login-button button {
  width: 100%;
  background-color: #d90327;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.footer {
  text-align: center;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 50px;
}

.new-user {
  width: 200px;
  height: Hug (48px);
  padding: 16px;
  border-radius: 8px;
  background-color: #2f3d4c;
}

.signup {
  width: 200px;
  height: Hug (48px);
  padding: 16px;
  border-radius: 8px;
  color: #d90327;
}
.not-robert {
  gap: 8px;
  padding-top: 20px;
}
