html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 5760px;
  margin: 0;
  padding: 0;
}

/* section 1 */

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 960px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("Assets/main-bg.jpg") !important;
  background-size: 100% 100%;
  position: absolute;
}

/* header */
.header {
  height: 90px;
  display: flex;
  flex-direction: row;
  background-color: #00000080;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #ffffff;

  width: 30%;
  height: 33px;
  padding-top: 28.699951171875px;
  padding-left: 107px;
}

.menu {
  width: 70%;
  height: 21px;
  padding-top: 28px;
  display: flex;
  flex-direction: row;
}

.menu a {
  text-decoration: none;
}

.menu-title {
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  height: 20.187374114990234px;
  margin: 10px 20px;
}

.menu-right {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #ffffff;
  margin: 10px 10px 0px 150px;
}

.main h1 {
  font-family: Arial;
  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
  letter-spacing: 3px;
  color: #ffffff;
  text-align: center;

  width: 1156.5068359375px;
  height: 73.11846923828125px;
  padding-top: 313.37890625px;
  padding-left: 132.72021484375px;
}

.main h3 {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;

  width: 525.63px;
  height: 27.67px;
  margin-left: 487.29px;
}

.main button {
  width: 260px;
  height: 60px;
  background-color: #ffb548;
  margin-left: 588px;
  border-radius: 8px;
  border-color: yellow;
}

.scroll {
  padding-top: 250px;
  margin-left: 686.3px;
}

.scroll-text {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: justified;
  color: #ffffff;
}

.scroll img {
  margin-left: 25px;
}

/* section  ke 2 */

.second-screen {
  width: 100%;
  height: 987px;
  top: 933px;
  /* margin-top: 0px; */
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("Assets/the-games-bg.jpg") !important;
  position: absolute;
}

.second-screen h3 {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;

  margin: 0;
  padding-top: 281.105px;
  padding-left: 82px;
}

.second-screen h1 {
  font-family: Arial;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  text-align: left;
  color: #ffffff;
  padding-left: 82px;
}

.carousel {
  width: 858px;
  height: 477px;
  margin-left: 453px;
}

.second-screen .prev {
  top: 537.7px;
  left: 442px;
  color: #ffffff;
}
.second-screen .next {
  top: 537.7px;
  left: 442px;
  color: #ffffff;
}
/* section 3 */

.features-screen {
  width: 100%;
  height: 870px;
  top: 1920px;
  position: absolute;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("Assets/features.jpg") !important;
}

.features-screen h3 {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;

  margin-top: 258.82px;
  margin-left: 800.65px;
}

.features-screen h1 {
  font-family: Arial;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  text-align: left;
  color: #ffffff;

  margin-top: 30.21px;
  margin-left: 796.64px;
}
.timeline {
  display: flex;
  flex-direction: row;
  margin-left: 796px;
}
.pointline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line{
  margin-top: -5px;
}
.teksline{
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}
.point {
  width: 14px;
  height: 14px;
  border: 1px;
  position: relative;
  top: 80%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.features-screen .title {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  position: relative;
  padding: 0px;
  color: #ffb548;
  margin-bottom: 0;
  top:-30px;
  left:10px;
}

.features-screen .subtitle {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #ffffff;
  width: 362.52px;
  height: auto;
  margin-top: -40px;
  margin-left: 10px;
}

/* section 4 */

.section-requirements {
  width: 100%;
  height: 960px;
  top: 2790px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("Assets/requirements.png") !important;
  position: absolute;
}

.section-requirements h3 {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;

  padding-top: 145px;
  padding-left: 566px;
}
.section-requirements h1 {
  font-family: Arial;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  text-align: left;
  color: #ffffff;

  width: 633.19px;
  padding-left: 130px;
}

/* parent dari div requirementnya */
.section-requirements .requirement {
  width: 573px;
  margin-left: 120px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 50% 50%;
  border: #979797;
}

.last-grid {
  grid-column: span 2;
}

.section-requirements .list-requirement {
  width: 100%;
  border: 0.1px ridge white;
}

.section-requirements .title {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
  margin-left: 20px;
  margin-top: 15px;
  /* width dengan parent */
  width: 80%;
}

.section-requirements .subtitle {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 15px;

  /* width dengan parent */
  width: 80%;
}

/* section 5 */
.section-scores {
  width: 100%;
  height: 960px;
  top: 3750px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("Assets/scores.jpg") !important;
  position: absolute;
}

.section-scores h1 {
  font-family: Arial;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
  text-align: left;
  color: #ffffff;
  margin-top: 339.63px;
  margin-left: 117px;
}

.section-scores p {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  margin-left: 117px;
}

.section-scores button {
  width: 260px;
  height: 60px;
  margin-left: 117px;
  background-color: #ffb548;
  margin-left: 117px;
  border-radius: 8px;
}

/* card 1 */

.card1 {
  width: 493px;
  height: 182px;
  top: 160px;
  right: 117px;
  position: absolute;
  background-color: #181818;
  border-radius: 5%;
}

.card1 img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

.card1 .name {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffb548;
  position: absolute;
  margin-top: 15px;
  margin-left: 100px;
}

.card1 .position {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: justified;
  color: #ffffff;
  position: absolute;
  margin-top: 40px;
  margin-left: 100px;
}

.card1 .comment {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  margin-top: 100px;
  margin-left: 15px;
}

.card1 .time {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;

  position: absolute;
  margin-top: 140px;
  margin-left: 15px;
}

/* card 2 */

.card2 {
  width: 493px;
  height: 182px;
  top: 380px;
  right: 200px;
  position: absolute;
  background-color: #181818;
  border-radius: 5%;
}

.card2 img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

.card2 .name {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffb548;
  position: absolute;
  margin-top: 15px;
  margin-left: 100px;
}

.card2 .position {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: justified;
  color: #ffffff;
  position: absolute;
  margin-top: 40px;
  margin-left: 100px;
}

.card2 .comment {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  margin-top: 100px;
  margin-left: 15px;
}

.card2 .time {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;

  position: absolute;
  margin-top: 145px;
  margin-left: 15px;
}

/* card 3 */

.card3 {
  width: 493px;
  height: 182px;
  top: 600px;
  right: 150px;
  position: absolute;
  background-color: #181818;
  border-radius: 5%;
}

.card3 img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

.card3 .name {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffb548;
  position: absolute;
  margin-top: 15px;
  margin-left: 100px;
}

.card3 .position {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: justified;
  color: #ffffff;
  position: absolute;
  margin-top: 40px;
  margin-left: 100px;
}

.card3 .comment {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  margin-top: 100px;
  margin-left: 15px;
}

.card3 .time {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;

  position: absolute;
  margin-top: 145px;
  margin-left: 15px;
}

/* section 6 */

.section-newslater {
  width: 100%;
  height: 960px;
  top: 4710px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("Assets/newsletter.png") !important;
  position: absolute;
}

.section-newslater h3 {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: left;

  color: #ffffff;
  margin-left: 672px;
  margin-top: 136px;
}

.section-newslater h1 {
  font-family: Arial;
  font-size: 65px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 3px;
  text-align: left;
  color: #ffffff;
  margin-left: 672px;
}

.section-newslater p {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  margin-left: 672px;
}

.email {
  display: flex;
  margin-left: 672px;
  column-gap: 10px;
}
.email div input {
  height: 60px;
  background-color: #181818;
  width: 366px;
  border-radius: 5px;
  color: #ffb548;
}

.email button {
  width: 260px;
  margin-left: 0;
  height: 65px;
  background-color: #ffb548;
  border-radius: 8px;
}

footer {
  width: 100%;
  height: 233px;
  top: 5670px;
  position: relative;
}

.list-footer {
  background-color: black;
  display: flex;
  border-bottom: 1px solid grey;
}
.list-footer div {
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: right;

  color: #ffffff;
  padding: 20px;
  margin: 100px 50px;
  height: 20px;
}

.list-footer .icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  column-gap: 25px;
}

.footer-bottom {
  background-color: black;
  display: flex;
  column-gap: 50%;
  padding-left: 50px;
}
.footer-bottom div {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  opacity: 50%;
  height: 100px;
  margin-top: 50px;
}
