@media only screen and (max-width: 850px) {
  /* theme color */

  :root {
    --bgcolor-body: #394867;
    --color-header: #f1f6f9;
    --bgcolor-screen: #212a3e;
    --color-screen: #ffffff;
    --bgcolor-container: #212a3e;
    --bgcolor-tombol: #f1f6f9;
    --color-tombol: #212a3e;
    --bgcolor-resetdelete: #a0c3d2;
    --bgcolor-equal: #f48484;
  }
  :root.one {
    --bgcolor-body: #394867;
    --color-header: #f1f6f9;
    --bgcolor-screen: #212a3e;
    --color-screen: #ffffff;
    --bgcolor-container: #212a3e;
    --bgcolor-tombol: #f1f6f9;
    --color-tombol: #212a3e;
    --bgcolor-resetdelete: #a0c3d2;
    --bgcolor-equal: #f48484;
  }
  :root.two {
    --bgcolor-body: #ece8dd;
    --color-header: #110909;
    --bgcolor-screen: #f1f6f9;
    --color-screen: #110909;
    --bgcolor-container: #b5d5c5;
    --bgcolor-tombol: #f1f6f9;
    --color-tombol: #212a3e;
    --bgcolor-resetdelete: #39b5e0;
    --bgcolor-equal: #ff8b13;
  }

  :root.three {
    --bgcolor-body: #2d033b;
    --color-header: #ffb84c;
    --bgcolor-screen: #6f1ab6;
    --color-screen: #ffb84c;
    --bgcolor-container: #3d1766;
    --bgcolor-tombol: #3d1766;
    --color-tombol: #ffb84c;
    --bgcolor-resetdelete: #6f1ab6;
    --bgcolor-equal: #b5d5c5;
    --color-equal: #110909;
  }

  /* layar seluruh calculator */
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sub {
    width: 600px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    background-color: var(--bgcolor-body);
    font-family: "Itim", cursive;
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-header);
  }
  .theme {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    font-size: small;
  }
  .calc {
    font-size: x-large;
  }

  /* toogle */
  .changeColor {
    background-color: blue;
    border-radius: 8px;
  }
  /*  */
  .screen {
    width: 100%;
    padding: 10px;
    height: 80px;
    background-color: var(--bgcolor-screen);
    color: var(--color-screen);
    border-radius: 8px;
    text-align: right;
    font-size: xxx-large;
    margin-top: 10px;
    border: 0px;
  }

  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: var(--bgcolor-container);
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
  }
  .grid-item {
    background-color: var(--bgcolor-tombol);
    color: var(--color-tombol);
    padding: 10px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 3px 1px;
    border-color: var(--bgcolor-tombol);
  }

  .reset {
    grid-column: span 2;
    background-color: var(--bgcolor-resetdelete);
  }

  .delete {
    background-color: var(--bgcolor-resetdelete);
  }

  .equal {
    grid-column: span 2;
    background-color: var(--bgcolor-equal);
    color: var(--color-equal);
  }
}
